<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->
<section id="homepage-slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="slide">
                <figure>
                    <div class="slide-wrapper">
                        <div class="inner">
                           
                        </div><!-- /.inner -->
                    </div><!-- /.wrapper -->
                </figure>
                <img src="assets/shekinah1.png">
            </li>
            <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah2.png">
            </li>
             <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah3.png">
            </li>
             <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah4.png">
            </li>
        </ul>
    </div>
</section>
<!-- end Homepage Slider -->


<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="events small" id="events-small">
                    <header>
                        <h2>Actividades</h2>
                      
                    </header>
                    <div class="section-content">
                         <% @activities.each do |activity| %>

                        <article class="event nearest">
                            <figure class="date">
                                <div class="month"><%= activity.mes %></div>
                                <div class="day"><%= activity.dia %></div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#"><%= activity.name %></a>
                                </header>
                                <div class="additional-info"><%= activity.description %></div>
                            </aside>
                        </article><!-- /article -->
                       <%end%>
                       
                    </div><!-- /.section-content -->
                </section><!-- /.events-small -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-6">
                <section id="main-content">
                    <header>
                        <h2>El GIMNASIO CRISTIANO SHEKINAH  </h2>
                    </header>
                    <div class="section-content">
                        <p>Está comprometido con el desarrollo de la inteligencia emocional, tan importante como la intelectual. Cada día se descubre y se investiga más del tema. La Inteligencia Emocional es la capacidad de conocerse a sí mismo y de relacionarse con los demás; inteligencia intrapersonal e interpersonal respectivamente. Serán triunfadores quienes manejen sus emociones. Estas habilidades se deben desarrollar. </p>
                  
                  <h3>Nuestro PEI Contiene los Cuatro Pilares de la educación</h3>
                        <p>
                            Aprender a Conocer.
                        </p>
                        <p>
                            Aprender a Hacer.
                        </p> 
                        <p>
                            Aprender a Convivir Juntos.

                        </p> 
                         <p>
                            Aprender a SER.
                          
                        </p> 
                      

                      

                       
                           

                    </div><!-- /.section-content -->
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-3">
                <section class="news-small" id="news-small">
                    <header>
                        <h2>Noticias</h2>
                    </header>
                    <div class="section-content">
                        
                        <% @noticia.each do |noticium| %>
                        
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i><%= noticium.created_at.strftime("%d %b. %Y") %></figure>
                            <header><a href="#"><%= noticium.description %></a></header>
                        </article><!-- /article -->
                        <%end%>
                        
                    </div><!-- /.section-content -->
                    <a href="" class="read-more">Todas las Noticias</a>
                </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




