<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->



<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
         <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                                      <aside class="news-small" id="news-small">
                        
                        <div class="section-content">
                    

                    <article>


                               
                        <ul class="element-framed">
                        <header>
                            <h2>Matriculas Abiertas</h2>
                        </header>

                            <li>Horario de 9:00 a.m. - 2:00 p.m.</li>
                            <li>Del 5 de Octubre al 15 de Diciembre de 2014 y del 19 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2172427</li>
                            <br>
                            <p>No hay Bono</p>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            <br>

                            <p><%= link_to 'Leer Más', static_pages_contact_path%></p>


                        <h1></h1>

                         <header>
                            <h2>Nivel Superior</h2>
                        </header>
                        <p>Los resultados del ICFES 2.014 fueron excelentes, ocupando los primeros puestos 
                        varios de nuestros estudiantes entre grupos de 1.000. </p>

                        <p>Nuestro estudiante Luis Pablo Lesport ocupó el 8º Puesto a nivel nacional en las Pruebas ICFES 2008.</p>

                        <p><%= link_to 'Leer Más', static_pages_contact_path%></p>

                    

                                                    <h1></h1>


                        <header>
                            <h2>Por un mundo mejor </h2>
                        </header>

                        <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>



                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    



                    
                
                   
                </div><!-- /#sidebar -->
        </div><!-- /.col-md-4 -->


            <div class="col-md-8">
<ul class="element-framed">

    <h1>Gimnasio Cristiano Shekinah</h1>
    <h2>La presencia permanente del todo poderoso Dios  </h2>
                
                <section id="main-content">

                   <h2>Grados 2014 </h2>

                    <div class="col-md-6 col-sm-10">
                        <br><br>
                    <div class="image-carousel">
                        <div class="image-carousel-slide">
                            <%= image_tag "slide_1.png" %>   
                          </div>
                        <div class="image-carousel-slide">
                             <%= image_tag "slide_2.png" %> 
                        </div>
                        <div class="image-carousel-slide">
                             <%= image_tag "slide_3.png" %> 
                        </div>
                    </div><!-- /.slider-image -->




                </div><!-- /.col-md-6 -->
 <div class="col-md-6 col-sm-10">
                <p> El Gimnasio Cristiano Shekinah entrega con satisfacción y orgullo, cada año a la sociedad nuevos BACHILLERES, ciudadános con proyectos de vida y enteramente preparados para toda buena obra.</p>

                <p><%= link_to 'Leer Más', static_pages_sections_pre_path%></p>

            </div>

                    
                        
 </section><!-- /.main-content -->
                        
                     
                  
<section id="main-content">
                        <header>
                        <h2>Preescolar  </h2>
                    </header>

                       <p>Esta científicamente comprobado que la edad pre-escolar, de 0 a 5 años, es la más importante del ser humano. Durante este tiempo se sientan la bases de un 75% de nuestra personalidad.</p>


               
                </section><!-- /.main-content -->

<br><br><br>
               


<section id="main-content">
                        <header>
                        <h2>PARA TENER ÉXITO INTELIGENCIA EMOCIONAL </h2>
                    </header>

                       <p>El GIMNASIO CRISTIANO SHEKINAH está comprometido con el desarrollo de la inteligencia emocional, tan importante como la intelectual. Cada día se descubre y se investiga más del tema. La Inteligencia Emocional es la capacidad de conocerse a sí mismo y de relacionarse con los demás; inteligencia intrapersonal e interpersonal respectivamente. Serán triunfadores quienes manejen sus emociones. Estas habilidades se deben desarrollar. </p>


               
                </section><!-- /.main-content -->

                <section id="gallery">
                    <header>
                        <h2>Galería de Imagenes</h2>
                        <br><br>

                    </header>
                    <div class="section-content">
                        <ul class="gallery-list">
                            <li><a href="assets/slide_7.png" class="image-popup"><%= image_tag "slide_7.png"%> </a>
                            </li>
                            <li><a href="assets/slide_21.png" class="image-popup"><%= image_tag "slide_21.png"%> </a>
                            </li>
                            <li><a href="assets/slide_8.png" class="image-popup"><%= image_tag "slide_8.png"%> </a>
                            </li>
                            <li><a href="assets/slide_9.png" class="image-popup"><%= image_tag "slide_9.png"%> </a>
                            </li>
                            <li><a href="assets/slide_10.png" class="image-popup"><%= image_tag "slide_10.png"%> </a>
                            </li>
                            <li><a href="assets/slide_11.png" class="image-popup"><%= image_tag "slide_11.png"%> </a>
                            </li>
                            <li><a href="assets/slide_13.png" class="image-popup"><%= image_tag "slide_13.png"%> </a>
                            </li>
                            <li><a href="assets/slide_15.png" class="image-popup"><%= image_tag "slide_15.png"%> </a>
                            </li>
                            <li><a href="assets/slide_16.png" class="image-popup"><%= image_tag "slide_16.png"%> </a>
                            </li>
                            <li><a href="assets/slide_17.png" class="image-popup"><%= image_tag "slide_17.png"%> </a>
                            </li>
                            <li><a href="assets/slide_18.png" class="image-popup"><%= image_tag "slide_18.png"%> </a>
                            </li>
                            <li><a href="assets/slide_20.png" class="image-popup"><%= image_tag "slide_20.png"%> </a>
                            </li>
                            
                            
                        </ul>
                        
                    </div><!-- /.section-content -->
                </section><!-- /.gallery -->
           
            </div><!-- /.col-md-6 -->

            </ul>



            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




