
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
           

           </br></br></br></br>
            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Matriculas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                               
                        <ul class="element-framed">
                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>No Hay Bono </h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            
                        </ul>
                               
                               
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->


                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Nuestro PEI</h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>

                            
                        </ul>
                               
                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Noticias</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                
                   
                </div><!-- /#sidebar -->
            </div>
             <div class="col-md-8">
                <div id="page-main">
                    <section class="events images" id="events">
                        <header><h1>Events</h1></header>
                        <div class="section-content">
                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"> 
                                          <%= image_tag "event-img-02.jpg" %></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month">jan</div>
                                        <div class="day">18</div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#">Conservatory Exhibit: The garden of india a country and culture revealed</a>
                                    </header>
                                    <div class="additional-info"><span class="fa fa-map-marker"></span> Matthaei Botanical Gardens</div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla
                                            volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet.
                                            Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit,
                                            sed pulvinar leo sollicitudin vel.
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                                </aside>
                            </article><!-- /.event -->
                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"><img src="assets/img/event-img-02.jpg"></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month">feb</div>
                                        <div class="day">01</div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#">February Half-Term Activities: Big Stars and Little Secrets </a>
                                    </header>
                                    <div class="additional-info"><span class="fa fa-map-marker"></span> Pitt Rivers and Natural History Museums</div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla
                                            volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet.
                                            Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit,
                                            sed pulvinar leo sollicitudin vel.
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                                </aside>
                            </article><!-- /.event -->
                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"><img src="assets/img/event-img-03.jpg"></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month">mar</div>
                                        <div class="day">23</div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#">The Orchestra of the Age of Enlightenment perform with Music</a>
                                    </header>
                                    <div class="additional-info"><span class="fa fa-map-marker"></span> Faculty of Music</div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla
                                            volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet.
                                            Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit,
                                            sed pulvinar leo sollicitudin vel.
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                                </aside>
                            </article><!-- /.event -->
                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"><img src="assets/img/event-img-04.jpg"></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month">may</div>
                                        <div class="day">12</div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#">Museums and the Construction of Identities</a>
                                    </header>
                                    <div class="additional-info"><span class="fa fa-map-marker"></span> Faculty of Music</div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla
                                            volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet.
                                            Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit,
                                            sed pulvinar leo sollicitudin vel.
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                                </aside>
                            </article><!-- /.event -->
                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"><img src="assets/img/event-img-05.jpg"></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month">jun</div>
                                        <div class="day">17</div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#">Reporting: In Conversation with Miriam Elder and Julia Ioffe</a>
                                    </header>
                                    <div class="additional-info"><span class="fa fa-map-marker"></span> Faculty of Music</div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla
                                            volutpat elit non, tristique lectus. Nam blandit odio nisl, ac malesuada lacus fermentum sit amet.
                                            Vestibulum vitae aliquet felis, ornare feugiat elit. Nulla varius condimentum elit,
                                            sed pulvinar leo sollicitudin vel.
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                                </aside>
                            </article><!-- /.event -->
                        </div><!-- /.section-content -->
                    </section><!-- /.events-images -->
                    <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul><!-- /.pagination -->
                    </div><!-- /.center -->
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->


<h1>Listing actividades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Description</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actividades.each do |actividade| %>
      <tr>
        <td><%= actividade.nombre %></td>
        <td><%= actividade.description %></td>
        <td><%= actividade.fecha %></td>
        <td><%= link_to 'Show', actividade %></td>
        <td><%= link_to 'Edit', edit_actividade_path(actividade) %></td>
        <td><%= link_to 'Destroy', actividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actividade', new_actividade_path %>
