

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
           

           </br></br></br></br>
            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Matriculas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                               
                        <ul class="element-framed">
                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>No Hay Bono </h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            
                        </ul>
                               
                               
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->


                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Nuestro PEI</h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>

                            
                        </ul>
                               
                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Noticias</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                
                   
                </div><!-- /#sidebar -->
            </div>
             <div class="col-md-8">
                <div id="page-main">
                    <section class="events images" id="events">
                        <header><h1>Actividades</h1></header>
                        <div class="section-content">

                          <% @activities.each do |activity| %>

                            <article class="event">
                                <div class="event-thumbnail">
                                    <figure class="event-image">
                                        <div class="image-wrapper"> 
                                          <%= image_tag "event-img-02.jpg" %></div>
                                    </figure>
                                    <figure class="date">
                                        <div class="month"><%= activity.mes %></div>
                                        <div class="day"><%= activity.dia %></div>
                                    </figure>
                                </div>
                                <aside>
                                    <header>
                                        <a href="#"><%= activity.name %></a>
                                    </header>
                                    <div class="additional-info"></div>
                                    <div class="description">
                                        <p><%= activity.description %>
                                          
                                        </p>
                                    </div>
                                    
                                </aside>
                            </article><!-- /.event -->
                            
                            <%end%>
                            
                            
                        </div><!-- /.section-content -->
                    </section><!-- /.events-images -->
                    <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul><!-- /.pagination -->
                    </div><!-- /.center -->
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->


<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Dia</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.mes %></td>
        <td><%= activity.dia %></td>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
