<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @activity.mes %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @activity.dia %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
